.color-white{
    color: white;
}
.container-m {
    width: calc(100% - 100px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.default-top-margin{
    margin-top: 60px;
}
